<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.11.3.min.js">
	
</script>
<script type="text/javascript" src="http://github.com/malsup/corner/raw/master/jquery.corner.js?v2.11"></script>
<script>$('logout').corner();</script>
<script>$('reset').corner();</script>

<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
</script>

<script type="text/javascript" class="init">
	$(document).ready(function() {
		$('#submissions').DataTable({
			"order" : [ [ 0, "desc" ] ],
			"lengthMenu" : [ 100, 50, 25 ]
		});
	});
</script>
<title><%= user[0] + " " + user[1] %></title>
</head>


<body style="background-image: none;">
<div class="settings-container">
			<div class = "sidebarMinusReset">
				<!-- <form id="class_select_form" class="settings-form" method='get' action='/assignments'> -->
					<button class="side_button" id="classes-header">Select Classes</button>
					<form id="class_select_form" class="settings-form" method='get' action='/assignments'>
						<ul id = "dropdownSelectClasses" style = "list-style: none; display: none;">
	
							<div class="classroomclass">		
								<% classList.forEach(function(classInfo){ %>
									<li>
										<% if(isTeacher == 1){%>
											<input type="radio" name="classperiodid" value=<%=classInfo.class_id%> class = "classSelectionChoices" id="classselection1">
											<%= classInfo.class_name%>
										<%}else{%>
											<input type="radio" name="classperiodid" value=<%=[classInfo.period_id, classInfo.class_id, classInfo.period]%> class = "classSelectionChoices" id="classselection1">
											Period <%= classInfo.period + " " + classInfo.class_name + " (id:" + classInfo.period_id+")"%>
										 <%}%>
									</li>
			
								<% }) %>
							</div>
						</ul>
						</form>
		
		
		

				<!-- <input type="checkbox" name="class1" id="classselection1"
					class="classroomclass" value="period1">Period 1<br> <input
					type="checkbox" name="class2" id="classselection2"
					class="classroomclass" value="period2">Period 2<br> <input
					type="checkbox" name="class3" id="classselection3"
					class="classroomclass" value="period3">Period 3<br> -->
		
			<!-- </form> -->
			<button id="viewQ" class="side_button">Calendar View</button>
			
			<br>

			<script type="text/javascript">
    			document.getElementById("viewQ").onclick = function () {
        			location.href = "/calendar";
    			};
			</script>
			
			<button id="changePassword" class="side_button">Change Password</button>
			
			<br>

			<script type="text/javascript">
    			document.getElementById("changePassword").onclick = function () {
        			location.href = "#navbar";
    			};
    			document.getElementById("classes-header").onclick = function () {
        			location.href = "#";
    			};
			</script>
			<script>
			$(document).ready(function(){
				var dropdownshow = false;
				
				$('#classes-header').click(function(){
					if (!dropdownshow){
					$('#dropdownSelectClasses').show();
					dropdownshow = true;
					}
					else{
					$('#dropdownSelectClasses').hide();
					dropdownshow = false;
					}
				});
			});
			
			</script>
			
			<!-- Old link to change password -->
			<!-- <a class="side_button" id="changePassword" href = "#navbar">Change Password.</a> -->
			
			
			
			<form class="query-logoutform" method="post" action="logout">
				<input class="side_button" id="logout" type="submit" value="Logout">
			</form>



		</div>
		
		
		
		<form id="resetform" method="post" action="reset" style="display:none;">
	        <h1 id="resetHeader"> Change Password</h1>
	        <h2 id ="resetDescription"> Please reset your password so that your classmates don't steal your work</h2>
	      
		        <div class="resetitems" id="homepage-password">
		            <input placeholder="new password" id="password2" name="newpassword" type="newpassword" type="text">
		        </div>
	        <input type="submit" value="Change">
	        <a id = "cancelChangePass" href = "#navbar">Cancel.</a>
    	</form>
		</div>
		
		<script>
			$("#changePassword").click(function(){
				$('#resetform').show();
				$('.sidebarMinusReset').hide();
			});
			
			
			$("#cancelChangePass").click(function(){
				$('#resetform').hide();
				$('.sidebarMinusReset').show();
			});
			
		</script>
<div id="navbar">
	<div id="navbar_menu">
		<h4 id="navbar_settings"></h4>
	</div>
	<h1 class="navbar-items" id="navbar_classname"><%= " " + user[0] + " " + user[1] %></h1>
	<h4 class="navbar-items" id="navbar_range"></h4>
	<h4 class="navbar-items" id="navbar_scoolyear"></h4>
</div>

<script>
            $(document).ready(function() {
                var menushow = false;
                $('#navbar_settings').bind('click touchstart', function(e){
                    if (menushow != true) {
                        $('.settings-container').animate({left: '500px'});
                        menushow = true;

                    }
                    else if (menushow != false) {
                        $('.settings-container').animate({left: '-500px'});
                        menushow = false;
                    }
                })

                
                $('input[name=classperiodid]').change(function(){
		     		$('form[id=class_select_form]').submit();
	   			});
                
                var newfileshow = false;
                $('#newFileButton')


            });


        </script>



	<table id="submissions"  class="hover stripe order-column" cellspacing="0" width="100%">
        <thead>
			<tr>
			<td>Date Submitted</td>
			<td>Assignment Title</td>
			<td>First Name</td>
			<td>Last Name</td>
		<% if(isTeacher){ %>
			<td>Period</td>
		<% } %>	
			<td>Upload File 1</td>
			<td>Upload File 2</td>
			<td>Upload File 3</td>
			</tr>
        </thead>

		<tbody>


		<% submissions.forEach(function(submission){ %>
			<tr>
				<td><%= submission[0] %></td>
				<td><%= submission[1] %></td>
				<td><%= submission[2] %></td>
				<td><%= submission[3] %></td>
			<% if(isTeacher){ %>
				<td><%= submission[4] %></td>
			<% } %>
				<td><%= submission[5] %></td>
				<td><%- submission[6] %></td>
				<td><%- submission[7] %></td>
				<td><%- submission[8] %></td>
			</tr>
		<% }) %>
		</table>
	
	
</body>
</html>